{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Medication List" %}{% endblock %}

{% block sidebar%}
    <ul>
        {% for medication in medications %}
            <li>
                <a 
                  hx-get="{% url 'medications:medication_detail' medication.pk %}" 
                  hx-target="#detail" 
                  hx-swap="innerHTML">
                    {{ medication.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
{% block content %}
    <div id="detail"></div>
{% endblock %}
