{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Supplement List" %}{% endblock %}

{% block sidebar%}
    <ul>
        {% for supplement in supplements %}
            <li>
                <a 
                  hx-get="{% url 'supplements:supplement_detail' supplement.pk %}" 
                  hx-target="#content" 
                  hx-swap="innerHTML">
                    {{ supplement.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

