<!DOCTYPE html>
<html>
<head>
    <title>Heart Center</title>
</head>
<body>
    <h1>Welcome to the Heart Center</h1>
    <p>Select a section to explore:</p>
    <ul>
        <li><a href="{% url 'diseases:disease_list' %}">Diseases</a></li>
        <li><a href="{% url 'medications:medication_list' %}">Medications</a></li>
        <li><a href="{% url 'supplements:supplement_list' %}">Supplements</a></li>
        <li><a href="{% url 'doctors:doctor_list' %}">Doctors</a></li>
    </ul>
</body>
</html>